extends layout

block body
  main
    h1 Thurly.com - Streaming file transfer over Torrent
    p Download/upload files using Thurly. his is a beta.
    h2#logHeading(style='display: none') Log
    .speed
    .log

    h2 Start seeding
    p
      | Drag-and-drop a file (or files) to begin sharing. Or choose a file:
      | #{ ' ' }
      input(type='file', name='upload', multiple)

    h2 Start downloading
    form
      label(for='torrentId') Download from a magnet link or info hash
      input(name='torrentId', placeholder='magnet:' required)
      button(type='submit') Download

    footer
      p: small <a href="http://www.thurly.com" target="_blank">Thurly</a> is powered by Google V8